<app-menu-header></app-menu-header>
<ion-content id="content">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img style="width: 350px; height: 350px;" src="https://cdn.discordapp.com/attachments/681909743073230954/704388064276906014/slide-3.png"/>
        <ion-card>
          <ion-card-content style="text-align: center;">
            <ion-card-title>
              <h2><b> HR-Track™ </b></h2>
              <p>The <b>HR-Track™ app</b> is a tool that assist comapnies to keep track of their customers, products, orders and suppliers.</p>
              <ion-text color="primary"> <p><b>Swipe for to learn more</b><ion-icon slot="end" name="arrow-forward"></ion-icon></p> </ion-text>  
            </ion-card-title>        
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img style="width: 350px; height: 350px;" src="https://cdn4.iconfinder.com/data/icons/businessman-working-characters/48/5-512.png"/>
        <ion-card>
          <ion-card-content style="color:black;text-align: center;">
            <ion-card-title>
              <h2><b> How does it work? </b></h2>
              <p> Users can use the menutab to navigate to the page they want to use.</p> 
              <p> For example a user navigates to the <b>Product Page</b>. 
                From there the user will be allowed to <b> Add a New Order, Search Existing Orders, Update an Existing Order and Delete an Existing Order</b>. </p>
                <ion-text color="primary"> <p><b>Swipe for to learn more</b><ion-icon slot="end" name="arrow-forward"></ion-icon></p> </ion-text>  
            </ion-card-title>            
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img style="width: 350px; height: 350px;" src="https://cdn.discordapp.com/attachments/681909743073230954/704388066340503693/slide-4.png"/>
        <ion-card>
          <ion-card-content style="color:black;text-align: center;">
            <ion-card-title>
              <h2><b> Who does what? </b></h2>
              <p><b>HR-Track™ app</b> makes use of user rights to allow different users to do different things. </p>
              <p>A <b>Sales Manager</b> is able to CRUD Customers, Products, Orders and Suppliers where a <b>Sales Employee</b> is only able to record orders.</p>
            </ion-card-title>             
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
