<app-default-header></app-default-header>


<ion-content>   
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="./product-add" full type="submit">          
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>      
  </ion-fab>    
  <ion-card>         
    <ion-card-header style="text-align: center;">    
      <img style="width: 20%; height: 20%;" src={{this.service.logo}}>     
      <h1 style="text-align: center;">Products</h1>  
    </ion-card-header>
    <ion-card-content>    
      <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
      <div>
        <ion-list>  
          <ion-item *ngFor="let obj of this.service.listSearchSupplierProduct">
            <ion-thumbnail slot="start">
              <img src={{obj.Image}}>
            </ion-thumbnail>
            <ion-label>              
              <h2>{{obj.ProductName}}</h2>      
              <h3>Product ID: {{obj.ProductID}}</h3>  
              <h3>Product Quantity: {{obj.Quantity}}</h3>      
              <h3>Product Price: R{{obj.Price}}</h3>                
              <h3>Supplier: {{obj.SupplierName}}</h3>                      
              <ion-chip color="warning" outline routerLink="./product-update" (click)="populateForm(obj)"  type="submit">    
                <ion-label>Edit</ion-label>
              </ion-chip>
              <ion-chip color="danger" outline (click)="onDelete(obj.ProductID)"  type="submit">    
                <ion-label>Delete</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>         
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


