body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  
  img{
    height: 84% !important;
    display:block;
    width: auto !important;
    
  }
  .scroll{
    height:100% !important
  }